/** HEADER **/


.navbar-brand  { /* Food, LLC */
  color: #000;
  text-transform: uppercase;
  margin: 10px;
  
}

.nav-item {
  text-align: center;
}

#main-content{
  padding: 50px;
}
#chicken{
  padding: 20px;
  margin-top: 50px;
  border: solid 5px #11d684;
}
#chicken p{
  text-align: justify;
}
#chicken h2{
  text-align: center;
  background-color: #11d684;
  color: white;
}

#beef{
  padding: 20px;
  margin-top: 50px;
  border: solid 5px #ecd212;
}
#beef p{
  text-align: justify;
}
#beef h2{
  text-align: center;
  background-color: #ecd212;
  color: white;
}

#sushi{
  padding: 20px;
  margin-top: 50px;
  border: solid 5px #0da0e6;
}
#sushi p{
  text-align: justify;
}
#sushi h2{
  text-align: center;
  background-color: #0da0e6;
  color: white;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    color: black;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  
  
  /* End Header */

}

